body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

header{
background:black;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
background:#222;
color:white;
padding:60px;
text-align:center;
}

button{
padding:10px 20px;
border:none;
background:orange;
}

section{
padding:30px;
text-align:center;
}

.box{
background:white;
margin:10px;
padding:15px;
display:inline-block;
width:150px;
}

footer{
background:black;
color:white;
text-align:center;
padding:10px;
}

body{
margin:0;
font-family:Arial;
background:#f2f2f2;
}

header{
background:black;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
background:#222;
color:white;
padding:60px;
text-align:center;
}

button{
padding:10px 20px;
border:none;
background:orange;
}

section{
padding:30px;
text-align:center;
}

.box{
background:white;
margin:10px;
padding:15px;
display:inline-block;
width:150px;
}

footer{
background:black;
color:white;
text-align:center;
padding:10px;
}